* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://images6.alphacoders.com/715/thumb-1920-715677.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family:'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
}

#title {
  text-align: center;
  letter-spacing: 10px;
  font-size: 60px;
  font-weight: 500;
  padding: 30px;
  background-color:  rgba(8, 8, 8, 0.658);
  border-radius: 10px;
  font-family: 'VT323', monospace;
  margin: 30px 200px;
  border: 2px solid white;
}

#color-palette {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(250, 248, 248);
  border-radius: 30px;
  margin-bottom: 20px;
  border: 2px solid black;
}

section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.color {
  display: inline-block;
  border: solid 1px black;
  padding: 25px;
  margin: 10px;
  border-radius: 50%;
}

.color-black {
  background-color: black;
}

.color2 {
  background-color: yellow;
}

.color3 {
  background-color: blue;
}

.color4 {
  background-color: green;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px black;
  vertical-align: middle;
  background-color: white;
}

#pixel-board {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 30px;
}

.text {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 100;
  padding: 15px 0;
  margin-top: 15px;
  border-radius: 10px;
}

#clear-board {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  font-size: 14px;
  border-radius: 15px;
  letter-spacing: 5px;
  color: white;
  background-color:  #5FC28C;
}

.nav-links-redessociais {
  background-color: rgb(198, 207, 214);
  position: fixed;
  top: 7%;
  left: 95%;
  border-radius: 15px;
  border: solid 2px rgba(29, 28, 28, 0.644);
}

.icone_linkedin {
  width: 50px;
  margin-left: 8px;
  margin-top: 18px;
}

.icone_insta {
  width: 40px;
  margin-left: 14px;
  margin-top: 5px;
  padding-right: 5px;
}

.icone_git {
  width: 65px;
  margin-left: 3px;
}

#tamanho-board {
  margin-top: 30px;
  margin-bottom: 30px;
}

#board-size {
  width: 300px;
  text-align: center;
  height: 35px;
  color: black;
  border-radius: 10px;
  border: 2px black solid;
}
#generate-board {
  width: 50px;
  height: 38px;
  border-radius: 10px;
  background-color:  #5FC28C;
  color: white;
}

main {
 background-color: rgba(8, 8, 8, 0.658);
 margin-left: auto;
 margin-right: auto;
 border-radius: 10px;
 margin: 30px 200px;
 border: 2px solid white;
 padding: 2px 0; 
}


