* {
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(189, 187, 187);
}

#title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

#color-palette {
  border: solid 1px black;
  text-align: center;
  display: inline-block;
  padding: 20px;
  background-color: rgb(246, 247, 245);
  border-radius: 10px;

}

section {
  text-align: center;
}

.color {
  display: inline-block;
  border: solid 1px black;
  padding: 20px;
  margin: 10px;
 
}

.color-black {
  background-color: black;
}

.color2 {
  background-color: yellow;
}

.color3 {
  background-color: blue;
}

.color4 {
  background-color: green;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px black;
  vertical-align: middle;
  background-color: white;
}

#pixel-board {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

section h2 {
  margin-top: 10px;
}
#clear-board {
  width: 60px;
  height: 30px;
  margin-top: 20px;
}

