* {
  margin: 0;
  padding: 0;
}

#title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

#color-palette {
  border: solid 2px black;
  text-align: center;
  display: inline-block;
  padding: 20px;
  background-color: rgb(246, 247, 245);
  margin-left: 38%;
}

.color {
  display: inline-block;
  border: solid 1px black;
  padding: 20px;
  margin-left: 8px;
  margin-top: 10px;
}

.colorBlack {
  background-color: black;
}

.color2 {
  background-color: yellow;
}

.color3 {
  background-color: blue;
}

.color4 {
  background-color: green;
}