* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://cdn.wallpapersafari.com/77/49/qba25f.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family:'Courier New', Courier, monospace;
  color: rgb(240, 240, 240);
}

#title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 8px;
  font-size: 35px;
  text-decoration: underline;
  background-color: rgba(29, 28, 28, 0.644);
  padding: 20px;
}

#color-palette {
  border: solid 2px rgba(29, 28, 28, 0.644);
  text-align: center;
  display: inline-block;
  padding: 20px;
  background-image: linear-gradient(
    to left
    ,
    #092B9C,
    #033AA8,
    #3170DE,
    #3487E1,
    #2DA0ED
  );
  border-radius: 10px;
}

section {
  text-align: center;
}

.color {
  display: inline-block;
  border: solid 1px black;
  padding: 25px;
  margin: 10px;
  border-radius: 50%;
}

.color-black {
  background-color: black;
}

.color2 {
  background-color: yellow;
}

.color3 {
  background-color: blue;
}

.color4 {
  background-color: green;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px black;
  vertical-align: middle;
  background-color: white;
}

#pixel-board {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 20px;
}

.text-paleta {
  margin-bottom: 15px;
  font-size: 20px;
  background-color: rgba(29, 28, 28, 0.644);
  padding: 10px 0;
  margin-top: 15px;
}

#clear-board {
  width: 70px;
  height: 40px;
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace ;
}


